<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBzROONa7Z5nBYYj9_7leertG7mGgIfNWM</string>
	<key>GCM_SENDER_ID</key>
	<string>179883609380</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>vn.softdreams.easy.ca</string>
	<key>PROJECT_ID</key>
	<string>easy-kyc</string>
	<key>STORAGE_BUCKET</key>
	<string>easy-kyc.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:179883609380:ios:aa866e46f8d9dc90e937b1</string>
</dict>
</plist>